<!DOCTYPE>
<html>
<head>
  <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
  <title>今天水果商店</title>
  <link href="__CSS__/tdcss.css" type="text/css" rel="stylesheet"/>
  <script type="text/javascript" src="__JS__/jquery-3.2.1.min.js"></script>  
  <script type="text/javascript" src="__JS__/tdjs.js"></script>
<script type="text/javascript" src="__JS__/vue.min.js"></script>
  <script type="text/javascript" src='__JS__/vue-resource.min.js'></script>
</head>
<body >
  <div id="app_index">
  <header class="td_header">
    <nav class="td_nav">
      <div class="td_navleft">
        <a href="tdindex.html">
        <img src="__IMAGE__/tdlogo.png" />
      </a>
      </div>
      <div class="td_navmiddle">
        <ul>
          <li><a class="td_navlink " href="tdindex.html">首页</a></li>
          <li><a class="td_navlink" href="home_fruit.html">国内水果</a></li>
          <li><a class="td_navlink td_navmask" href="foreign_fruit.html">进口水果</a></li>
          <li><a class="td_navlink" v-on:click="poplogin(2)">个人中心</a></li>
        </ul>
      </div>
      <div class="td_navright">
        <div class="floatright">
        <div class="floatright">
         <a id="car" class="td_navright_a " v-on:click="poplogin(2)">购物车</a>
         </div>
          <my-component-name></my-component-name>
      
        </div>
      </div>
    </nav>
  </header>
  <div class="map"><a href="tdindex.html">首页 </a>> 进口水果</div>
  <section class="filter_section">
    <div class="filter">
      <div class="filter_list">
        <h5 class="filter_title">分类：</h5>
        <a class="filter_quanbu_active" v-on:click="filterfruitTypeF('默认')">
          <span class="filter_fruit filter_active">全部</span>
        </a>
        <div class="filter_list_name">
         <a v-on:click="filterfruitTypeF('苹果')">
            <span class="filter_fruit">苹果</span>
          </a>
          <a v-on:click="filterfruitTypeF('梨子')">
            <span class="filter_fruit">梨子</span>
          </a>
           <a v-on:click="filterfruitTypeF('番茄')">
            <span class="filter_fruit">番茄</span>
          </a>
           <a v-on:click="filterfruitTypeF('榴莲')">
            <span class="filter_fruit">榴莲</span>
          </a>
           <a v-on:click="filterfruitTypeF('奇异果')">
            <span class="filter_fruit">奇异果</span>
          </a>
          <a v-on:click="filterfruitTypeF('火龙果')">
            <span class="filter_fruit">火龙果</span>
          </a>
          <a v-on:click="filterfruitTypeF('百香果')">
            <span class="filter_fruit">百香果</span>
          </a>
          <a v-on:click="filterfruitTypeF('牛油果')">
            <span class="filter_fruit">牛油果</span>
          </a>
          <a v-on:click="filterfruitTypeF('香蕉')">
            <span class="filter_fruit">香蕉</span>
          </a>
        </div>
      </div>
      <div class="filter_list1">
        <h5 class="filter_title">排序：</h5>
        <a class="filter_active" v-on:click="orderALLF">
          <span class="filter_fruit ">默认</span>
        </a>
          <a v-on:click="orderUPcF()">
            <span class="filter_fruit">价格从低到高</span>
          </a> 
          <a v-on:click="orderDOWNcF()">
            <span class="filter_fruit">价格从高到低</span>
          </a> 
      </div>
    </div>
      <div class="clear"></div>
    <div class="fruit_list">
      <ul class="fruit_content_ul">
          <li class="fruit_content_li" v-for="item in fruitforeign" >
            <a v-on:click="start_modelF(item.fruitid)">
          <div class="fruit_content_center">

          <img class="fruit_content_image" v-bind:src="'__IMAGE__/'+item.fruitname+'.jpg'"/>
          <p class="fruit_content_title">{{item.fruitname}}</p>
          <p class="fruit_content_weight">{{item.fruitweight}}g</p>
          <p class="fruit_content_price">￥{{item.fruitprice}}</p>
          <img class="fruit_content_car" src="__IMAGE__/gwc.png"/>
          </div>
        </a>
        </li>
      </ul>
    </div>
  </section>
  <div class="clear"></div>
  <footer class="footer">
    <ul class="footer_ul">
      <li class="footer_list">8天退换货</li>
      <li class="footer_list">100%新鲜</li>
      <li class="footer_list">闪电发货</li>
      <li class="footer_list">产地直销</li>
    </ul>
    <div class="footer_lianxi">联系人：1830219826X 高女士</div>
  </footer>
  <div class="fruit_model_bg hidden" style="">
  <a class="close_model_a" v-on:click="start_model(0)">
    <img src="__IMAGE__/close_model.png" >
  </a>
  <div class="model_content">
    <div v-for="item in onefruit">
      <table>
        <tr>
          <td><img class="width350" v-bind:src="'__IMAGE__/'+item.fruitname+'.jpg'"/></td>
          <td><img class="width350" v-bind:src="'__IMAGE__/'+item.fruitname+'.jpg'"/></td>
          <td class="paddingL45">
            <h2 class="content3">{{item.fruitname}}</h2>
            <h6 class="content2">{{item.fruitweight}}g</h6>
            <h4 class="content1">￥{{item.fruitprice}}</h4>
            <h6 class="content2">剩{{item.fruitleft}}件</h6>
            <input class="cut change_carnum" value="-" type="button" v-on:click="car_num--">
            <input class="amount" type="text" value="1" v-model="car_num">
            <input class="add change_carnum" value="+" type="button" v-on:click="car_num++">
            <input type="submit" class="change_carnum" v-on:click="sub_car(item.fruitid)" value="加入购物车">
            <div class="content_bottom">
              存储方法 0°冷藏<br>
              商品编号 {{item.fruitid}}<br>
              多吃水果补充维生素~<br>（在购物车进行结算哦）
            </div>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
</div>
     <script type="text/javascript" src="__JS__/indexApp.js"></script>
</body>
</html>
